.leaderboard-container {
    position: absolute;
    width: 80%;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.leaderboard-container .leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}
.leaderboard-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar-container {
    position: absolute;
    background-color: #4241414b;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 10%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.addplayer-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 60%;
    background-color: #3f3d3d;
    gap: 20px;
    padding: 20px;
}
.addplayer-container #input {
    width: 90%;
}

.marketplace-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    background-color: #3f3d3d;
    width: 99.9%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.marketplace-main-container {
    display: grid;
    grid-auto-flow: column;
    background-color: #3f3d3d;
    width: 99.9%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.marketplace-container .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 95%;
    border-radius: 10px;
}
.marketplace-container .inner-container .button {
    color: aliceblue;
    background-color: rgb(0, 255, 55);
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

